<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Usa card</title>
    <style>
        .main-heading{
            text-align: center;
            padding-top:2rem;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-light sticky-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user/search/usa-card-info">Usa-data</a>
          <a class="navbar-brand" href="/user/logout"> <button class="btn btn-outline-primary">
              logout
          </button> 
          </a>
    <!-- <a class="navbar-brand" href="/about-us"><button>Covid-19 precautions</button></a> -->
        </div>
      </nav>

      

    <h1 class="main-heading">Usa Total cases</h1>

    <h2>
        Total cases:
        <%=usa_total%>
    </h2>

    <h2>
        Total deaths
        <%=usa_deaths%>
    </h2>


    <button class="Disabled">
        Beta fetures

    </button>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</html>