<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Usa card</title>
    <style>
        .main-heading{
            text-align: center;
            padding-top:2rem;
        }

        .usa_total{
            text-align: center;
            padding-top: 2.5rem;
        }
        .total_deaths{
            text-align: center;

            padding-top: 2.5rem;
        }

        .wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 85ch;
  animation: typing 2s steps(40), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.text-primary-lighter {
            background-color: #2b8ede;
}


    </style>
</head>
<body>
    <nav class="navbar navbar-light sticky-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user/search/usa-card-info">Usa-data</a>
          <a class="navbar-brand" href="/user/logout"> <button class="btn btn-outline-primary">
              logout
          </button> 
          </a>
    <!-- <a class="navbar-brand" href="/about-us"><button>Covid-19 precautions</button></a> -->
        </div>
      </nav>

      

    <div class="text-primary-lighter">
        <h1 class="main-heading ">Usa Total cases</h1>

        <h2 class="usa_total typing-demo">
            Total cases:
            <%=usa_total%>
        </h2>
    
        <h2 class="total_deaths typing-demo">
            Total deaths
            <%=usa_deaths%>
        </h2>
    
    
    </div>




</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</html>